.cont-figure {
  border: 0.2rem solid black;
  position: relative;
}

img {
  display: block;
}

.rock {
  width: 6rem;
  height: 6rem;
  background: black;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .rock {
    width: 5rem;
    height: 5rem;
  }
}

@media (min-width: 992px) {
  .rock {
    width: 4.5rem;
    height: 4.5rem;
  }
}
